<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Registration Confirmation</title>
    <style>
        p {
            color: black;
        }
    </style>
</head>
<body>
    <p>Hi {{ user_name }},</p>
    <p>You've successfully registered for the OTC Cohort, starting on September 16th, 2024 and registrations ends September 9th, 2024. We're looking forward to having you on board!</p>
    <p>If you have any questions or need assistance, please don't hesitate to reach out.</p>
    <p>Best regards,<br>OTC</p>
    <br>
    <p>Connect with us! Click <a href="https://chat.whatsapp.com/KOcA3KTTs6FAYI10Oyar85">Here</a> to join our WhatsApp community:</p>
    <a href="https://x.com/OOU_Tech">Twitter(X)</a>
    <a href="https://www.linkedin.com/company/oou-tech-community/?viewAsMember=true">LinkedIn</a>
</body>
</html>
